@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    /* background: crimson; */
    padding: 30px 0;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .menu li a{
    color: rgb(52, 2, 2);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    /* transition: color 0.5s ease; */
}

.navbar .menu li a:hover{
    color: crimson;
    font-size: 20px;
    transition: all 500ms;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar .logo span{
    font-size: 35px;
    font-weight: 600;
    color: crimson;
}


.navbar .logo a:hover{
    color: crimson;
    font-size: 37px;
    transition: all 500ms;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home{
    display: flex;
    background: url("images/image-1.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content{
    margin-left: -20%;
}

.home .home-content .text-1{
    font-size: 20px;
}

.home .home-content .text-2{
    font-size: 55px;
    font-weight: 600;
    
}

.home .home-content .text-3{
    font-size: 27px;
    font-weight: 400;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}